.block1 {
	position: relative;
	width: auto;
	height: 100px;
	background: black;
	color: white;
	margin: -8px;
}
.block2 {
	position: relative;
	width: auto%;
	height: 1200px;
	background: white;
	margin: -8px;
	margin-top: -12px;
	color: white;
}
.block3 {
	position: relative;
	width: auto%;
	height: 300px;
	background: black;
	margin: -8px;
	margin-top: -12px;
}
.pic{
	position: absolute;
	left: 0px;
}


.hr {
	position: absolute;
	top: 30px;
    right: 35%;

   }
.hr li {
    display: inline;
	margin-left: 100px;
 
   }
a:link {
	color: white;
	background-color: transparent;
    text-decoration: none;
}

.LesGuitar{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 350px;
	height: 1020px;
	background: white;
	word-wrap: break-word;
	color: black;
}
.StratGuitar{
	position: absolute;
	top: 100px;
	left: 500px;
	width: 350px;
	height: 1020px;
	background: white;	
	word-wrap: break-word;
	color: black;
}
.TeleGuitar{
	position: absolute;
	top: 100px;	
	left:900px;
	width: 350px;
	height: 1020px;
	background: white;	
	word-wrap: break-word;
	color: black;
}
